.btn {
	font-family: aqua;
	font-weight: 300;
	background-color: $mainYellow;
	border: 2px solid $textGrey;
	display: inline-block;
	padding: 10px 15px 8px;
	cursor: pointer;
	margin-top: 20px;

	p {
		margin: 0;
		padding: 0;

		@mixin atSmall {
			font-size: 1.1rem;
		}
	}

	&--float-right {
		margin-top: -10px;
		float: right;
	}

	&--blue {
		background-color: $mainBlue;
		color: #fff;
	}

	&--less-top-margin {
		margin-top: 10px;

		@mixin atSmall {
			margin-top: 20px;
		}
	}

}