.footer {
	padding: 20px;
	text-align: center;

	@mixin atMedium {
			display: flex;
			padding-right: 4%;
		}

	&__title {
		display: flex;
		width: 300px;
		text-align: center;
		margin: 0;
		margin-left: auto;
		margin-right: auto;
	
		&__image {
			transform: scale(.75);
		}

		h2 {
			margin: 0;
			margin-left: -10px;
			padding-top: 40px;
			font-size: 1.2rem;

			@mixin atSmall {
				padding-top: 37px;
				font-size: 1.5rem;
			}

			@mixin atMedium {
				
				padding-top: 50px;
			}
		}

		@mixin atMedium {
			margin-left: 20px;
			text-align: left;
			width: 375px;
		}

	}

	&__link {
		&__image {
			width: 15%;
			margin: 0;
			margin-right: 4%;
			border: 2px solid $mainBlue;
			background-color: $mainBlue;
			border-radius: 2px;

			@mixin atSmall {
				
				margin-right: 2%;
			}

			@mixin atMedium {
				width: 85px;
				margin: 20px;
			}
		}
	}
}