.hero {
	position: relative;
	margin: 0;

	&__image {
		display: block;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($textGrey, .7);
	
		&__content {
			position: absolute;
			top: 25%;
			right: 5%;
			text-align: right;	
			font-weight: 200;
			color: #fff;
			
			p {
				margin: 5px 0;
				padding: 0;

				@mixin atMedium {
					margin: 15px 0;
				}
			}

			@mixin atSmall  {
					font-size: 1.5rem;
				}

			@mixin atMedium {
				top: 50%;
				right: 20%;
				font-size: 1.7rem;
				margin-top: -75px;
			}
		}
	}
}