.row {
	display: flex;

	&--large-top-margin {
		margin-top: 50px;
	}

	&__col-1 {
		width: 33%;
	}

	&__col-2 {
		width: 50%;
		margin: 0;
		padding: 0;

		h3 {
			font-size: 1.4rem;
			height: 40px;
		}
	}

	&__col-3 {
		width: 66%;
	}

	@mixin clearfix;
}