.row { 

	@mixin atMedium {
		display: flex;
	}


	&--large-top-margin {
		margin-top: 10px;

		@mixin atSmall {
			margin-top: 20px;
		}

		@mixin atMedium {
			margin-top: 50px;
		}
	}

	&__col-1 {
		border: 2px solid #000;
		@mixin atMedium {
			width: 33%;
		}
	}

	&__col-2 {
		@mixin atMedium {
			width: 50%;
			margin: 0;
			padding: 0 20px 0 0;
		}		

		h3 {
			@mixin atSmall {
				font-size: 1.4rem;
			}

			@mixin atMedium {
				height: 40px;
			}
		}
	}

	&__col-3 {
		border: 2px solid #000;
		@mixin atMedium {
			width: 66%;
		}
	}

	@mixin clearfix;
}