.sample {
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	width: 75%;
	

	@mixin atSmall {
		margin-left: 5%;
		margin-right: 5%;
		width: 40%;
		float: left;
	}

	@mixin atMedium {
		margin-left: 0;
		margin-right: 6%;
		margin-bottom: 25px;
		width: 27%;
	}

	&__link {

		&__image {
			display: block;
			margin: 0 auto;
			border: 1px solid #666;
			border-radius: 50%;
			box-shadow: 5px 5px 5px $textGrey;
			transition: all .4s ease;

			&:hover {
				box-shadow: 0 0 15px #fff;
				border: 1px solid #fff;
			}
		}


	}

	&__description {
		font-style: italic;
		padding: 7px;
		margin: 0;
		text-align: center;

		@mixin atMedium {
			min-height: 70px;
		}

		@mixin atSmall {
			text-align: left;
		}


	}
}

.sample-container {
	@mixin clearfix;
}
