.wrapper {
	background-color: $lightGrey;
	max-width: 1236px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding: 0;
	padding-top: 70px;

	@mixin atSmall {
		padding-top: 95px;
	}

	@mixin atMedium {
		padding-top: 140px;
	}
}